.jcm-mod .clearfix {clear:both;}
.jcm-mod .jcm-dot::after {
    content: " \2014 ";
    color:#aaa;
}

.jcm-mod-comment+.jcm-mod-comment {margin-top: 20px;}
.jcm-mod-thumb {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    float: left;
    margin:0;
    display: block;
}
.jcm-mod-extra {
    font-size: 90%;
}
.jcm-mod-thumb-url + .jcm-mod-extra,
.jcm-mod-thumb + .jcm-mod-extra {margin-left: 45px;}

.jcm-mod-author {
    display: block;
    font-size: 120%;
    font-weight: bold;
}

.jcm-mod-parent {
    font-weight: bold;
    padding-right: 3px;
    font-size: 105%;
}

.jcm-mod-url {
    margin-top: 10px;
    font-size: 95%;
    cursor: pointer;
}

.jcm-mod-date {color:#777;}

.jcm-mod-media span {
    display: inline-block;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    font-size: 90%;
    padding: 0px 5px;
    border-radius: 2px;
    margin: 5px 5px 0 0;
}

/* most commented layout */
ul.jcm-mod-entries,
ul.jcm-mod-users {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.jcm-mod-entries li {
    padding: 0;
    margin: 0;
}

ul.jcm-mod-entries ._index {
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 2px 5px;
    border-radius: 2px;
    margin-right: 3px;
    font-weight: bold;
    display: inline-block;
}

ul.jcm-mod-entries ._count {
    background-color: #0088cc;
    color: #fff;
    font-size: 80%;
    padding: 1px 5px;
    border-radius: 6px;
    font-weight: bold;
}

ul.jcm-mod-entries li+li,
ul.jcm-mod-users li+li {
    margin-top:15px;
}

ul.jcm-mod-entries+* {
    margin-top: 15px;
}

/* top poster layout */
ul.jcm-mod-users img._thumbnail {
    width: 48px;
    height: 48px;
    border-radius: 3px;
    float:left;
}

ul.jcm-mod-users ._thumbnail+._content,
ul.jcm-mod-users ._thumbnail_box+._content {
    margin-left: 55px;
}

ul.jcm-mod-users ._author_name {
    display: block;
    font-size: 130%;
    font-weight: bold;
}

ul.jcm-mod-users ._count {
    color: #666;
}