#jlexcomment {
    font-size: 13px;
}

#jlexcomment ul {
    overflow: visible;
}

#jlexcomment .hide, #jlexcomment .hidden {
    display: none!important;
}

#jlexcomment * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#jlexcomment *:active,
#jlexcomment *:hover,
#jlexcomment *:visited,
#jlexcomment *:focus,
#jlexcomment *:link {
    outline: none;
    outline-width: 0;
}

#jlexcomment .clearfix {
	clear: both;
	*zoom: 1;
	height: 0;
}

#jlexcomment a {
    cursor: pointer;
}

#jlexcomment a.active {
    font-weight: bold;
}

#jlexcomment img {
    max-width: 100%;
    display: block;
}

#jlexcomment .forOn,
#jlexcomment .forOff {
    display: none !important;
}

#jlexcomment ._on .forOn {
    display: block !important;
}

#jlexcomment ._off .forOff {
    display: block !important;
}

#jlexcomment input[type="text"],
#jlexcomment input[type="email"],
#jlexcomment input[type="password"],
#jlexcomment textarea,
.jcm-dialog input[type="text"],
.jcm-dialog input[type="email"],
.jcm-dialog input[type="password"],
.jcm-dialog textarea
{
    border: 2px solid #c5d2d8;
    height: 30px;
    box-shadow: none;
    border-radius: 4px;
    width: 100%;
    display: block;
    margin: 0 15px 10px 0;
}

#jlexcomment textarea,
.jcm-dialog textarea {
    height: 50px;
    width: 100%;
    resize: vertical;
}

#jlexcomment button {
    height: 30px;
    border: none;
    color: #fff;
    margin: 0 0 10px 0;
    background: #555;
    border-radius: 3px;
    padding: 0 15px;
    cursor: pointer;
    font-weight: bold;
}

#jlexcomment ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#jlexcomment ul.jcm-inline > li {
	display: inline-block;
	vertical-align: top;
}

#jlexcomment ul.jcm-inline > li+li {
    margin-left: 5px;
}

#jlexcomment .jcm-inline-top > * {
    display: inline-block;
    vertical-align: top;
}

#jlexcomment .jcm-pull-right {
    float: right;
}

#jlexcomment .jcm-pull-left {
    float: left;
}


#jlexcomment .jcm-center {
    text-align: center;
}

#jlexcomment .jcm-empty-cm {
    font-size: 15px;
    padding-bottom: 20px;
    color: #444;
}

/* tooltip */
#jlexcomment .jcm-tooltip {
    position: relative;
    display: inline-block;
}

#jlexcomment .jcm-tooltip-body {
    background: rgba(0,0,0,0.75);
    color: #fff;
    padding: 2px 5px;
    border-radius: 2px;
    position: absolute;
    z-index: 16;
    bottom: 105%;
    left: 50%;
    max-width: 120px;
    white-space: nowrap;
    font-size: 11px;
    visibility: hidden;
}

#jlexcomment .jcm-tooltip:hover .jcm-tooltip-body {
    visibility: visible;
}

/* dropdown style sheet */
#jlexcomment .jcm-dropdown {
	position: relative;
	/*z-index: 10;*/
}

#jlexcomment ul.jcm-dropdown-menu {
	background: #fff;
	border: 2px solid #7f919e;
	padding: 3px 0;
	position: absolute;
	right: 0;
	z-index: 1;
	display: none;
    border-radius: 4px;
}

#jlexcomment .jcm-dropdown.onRight ul.jcm-dropdown-menu {
    left: inherit;
    right: 0;
}

#jlexcomment .jcm-dropdown.active ul.jcm-dropdown-menu {
    display: block;
}

#jlexcomment .jcm-dropdown-menu > li {
	display: block;
	padding: 0;
	margin: 0;
}

#jlexcomment .jcm-dropdown-menu > li > ._dx {
    background: #fff;
    display: block;
    padding: 4px 15px;
    color: rgb(127, 145, 158) !important;
    font-weight: normal !important;
    white-space: nowrap;
}

#jlexcomment .jcm-dropdown-menu > li > ._dx [class^="jcm-icon-"]:before, [class*=" jcm-icon-"]:before {
    line-height: inherit;
    font-size: 80%;
}

#jlexcomment .jcm-dropdown-menu > li > ._dx.active {
    font-weight: bold !important;
    color: #2a2e2e !important;
    background: #f1f1f1;
}

#jlexcomment .jcm-dropdown-menu > li > ._dx:hover {
	background: #1e88e5;
    color: #fff !important;
    text-decoration: none;
}
/* end dropdown */

/* header */
#jlexcomment #jcm-header { margin-bottom: 15px; }
#jlexcomment #jcm-header a,
#jlexcomment #jcm-header span {
    color: #7f919e;
    font-weight: bold;
}
#jlexcomment #jcm-header a:hover {
    text-decoration: none;
    color: #2a2e2e;
}
#jlexcomment #jcm-header a.active {
    color: #2a2e2e;
}
#jlexcomment ul.jcm-top {
    border-bottom: 2px solid #ddd;
    padding: 20px 0 7px 0 !important;
    font-size: 120%;
}
#jlexcomment ul.jcm-top-secondary {
    padding: 10px 0;
    font-size: 110%;
    position: relative;
    z-index: 10;
}

/* end header */

#jlexcomment ul.jcm-childs {
	margin-top: 10px;
}

#jlexcomment .jcm-block+.jcm-block {margin-top: 15px;}

@-webkit-keyframes yellow-fade {
   0% {background: rgba(255, 230, 0, 0.5);}
   100% {background: #fff;}
}
@keyframes yellow-fade {
   0% {background: rgba(255, 230, 0, 0.5);}
   100% {background: #fff;}
}
@-webkit-keyframes yellow-fade-none {
   0% {background: rgba(255, 230, 0, 0.5);}
   100% {background: none;}
}
@keyframes yellow-fade-none {
   0% {background: rgba(255, 230, 0, 0.5);}
   100% {background: none;}
}
#jlexcomment ._light > .jcm-post-content > .jcm-flex-content > .jcm-post-body {
    -moz-animation: yellow-fade 5s ease-in 1;
   -webkit-animation: yellow-fade 5s ease-in 1;
   animation: yellow-fade 5s ease-in 1;
}

#jlexcomment ._blue > .jcm-post-content > .jcm-flex-content > .jcm-post-body {
    background: #caddec;
}

/* author thumb */
#jlexcomment .hovercard {
    float: left;
    height: 48px;
    width: 48px;
}

#jlexcomment .jcm-childs .hovercard,
#jlexcomment .jcm-reply-form .hovercard {
	height: 36px;
	width: 36px;
}

#jlexcomment .hovercard img {border-radius: 3px;}

/* comment form */
#jlexcomment #jcm-form {
    margin-bottom: 30px;
}

#jlexcomment .jcm-form-cp {
    position: relative;
}

#jlexcomment .jcm-protect-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(255,255,255,0.5);
    display: none;
}

#jlexcomment .jcm-protect-layer.active {
    display: block;
}

#jlexcomment .jcm-form {
    border: 2px solid #c5d2d8;
    border-radius: 5px;
    /*overflow: hidden;*/
}

#jlexcomment .jcm-form.error {
    border-color: #cc181e;
}

#jlexcomment .hovercard+.jcm-form {
    margin-left: 60px;
}

#jlexcomment .jcm-reply-form .hovercard+.jcm-form,
#jlexcomment .jcm-reply-form .forGuest {
    margin-left: 45px;
}

#jlexcomment .jcm-input-cm {
    background-color: #fff;
    padding: 7px;
    position: relative;
    height: 44px;
    border-radius: 3px 3px 0 0;
}

#jlexcomment .jcm-input-cm._style {
    background-color: transparent;
    padding: 0;
    margin: -2px -2px 0 -2px;
}
#jlexcomment .jcm-input-cm._style .jcm-textarea {
    padding:10px;
    border-radius: 4px 4px 0 0 !important;
}

#jlexcomment .jcm-form-cp.active .jcm-input-cm {
    height: auto;
}

#jlexcomment .jcm-form-cp.active .jcm-textarea {
    min-height: 70px;
}

#jlexcomment .jcm-form-cp.active ._controller,
#jlexcomment .jcm-form-cp.active .forGuest {
    display: block;
}

#jlexcomment .jcm-symbol-limit {
    text-align: right;
    color: #777;
    padding-top: 5px;
    display: none;
}

#jlexcomment .jcm-form-cp.active .jcm-symbol-limit {
    display: block;
    position: absolute;
    right: 0;}

#jlexcomment.jcm-xsmall .jcm-form-cp.active .jcm-symbol-limit {
    position: static;
}

#jlexcomment .symbol-count {
    font-weight: bold;
}

#jlexcomment .symbol-count.error {
    color: #cc181e;
}

#jlexcomment .jcm-extra-admin {
    margin: 5px 0 3px 0;
    font-size: 11px;
    background: #d1ecf1;
    border-radius: 2px;
    padding: 3px 10px;
    display: inline-block;
    border: 1px solid #c2e6eb;
    color: #0b5460;
}

#jlexcomment .jcm-extra-admin b+b {
    margin-left: 7px;
}

#jlexcomment .jcm-text-placeholder {
    position: absolute;
    top: 7px;
    left: 7px;
    /*z-index: -1;*/
    color: #afafaf;
    font-size: 18px;
    line-height: 30px;
    display: none;
}

#jlexcomment .jcm-text-placeholder.active {
    display: block;
}

#jlexcomment .jcm-input-cm.active .jcm-text-placeholder { display: none; }

#jlexcomment .jcm-textarea {
	position: relative;
    min-height: 30px;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 20px;
    z-index: 2;
}

#jlexcomment ._controller {
    background: #e9eff2;
    border-top: 1px solid #ccc;
    position: relative;
    height: 41px;
    display: none;
    z-index: 3;
    border-radius: 0 0 3px 3px;
    text-align: right;
}

#jlexcomment button.jcm-btn-post.forMember,
#jlexcomment .jcm_form_input .jcm-btn-cancel
{
    height: 30px;
    border: none;
    border-radius: 2px;
    margin: 5px 5px 0 0;
    line-height: 30px;
    vertical-align: top;
}

#jlexcomment button.jcm-btn-post.forMember {
    background: #52be7f;
    color: #fff;
    padding: 0 30px;
}

#jlexcomment .jcm_form_input .jcm-btn-cancel {
    color: #555;
    display: none;
}

#jlexcomment .jcm-comment-edit .jcm-btn-cancel {
    display: inline-block;
}

#jlexcomment .jcm_form_error {
    background: #cc181e;
    color: #fff;
    padding: 4px 10px;
    border-radius: 2px;
    margin-bottom: 7px;
    display: none;
}

#jlexcomment .jcm_form_error.active {
    display: block;
}

#jlexcomment .jcm-btn-open {
    width: 50px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    float: left;
    color: #a6bac4;
    padding: 0;
    margin: 0;
    border-radius: 0;
    font-weight: normal;
    font-size: 15px;
    transition: all 0.3s;
}

#jlexcomment .jcm-btn-open.active {
    color: #4e71b7;
}

#jlexcomment .jcm-btn-open:hover {
    color:#8b969c;
    transform: scale(1.4);
    transition: all 0.5s;
}

#jlexcomment .jcm-btn-image {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    z-index: 5;
    color: #888;
    bottom: 0;
    margin: auto 0;
    padding: 0;
}

#jlexcomment .forGuest {
    margin-top: 10px;
    margin-left: 60px;
    display: none;
}

#jlexcomment .forGuest h6,
#jlexcomment .jcm-h6 {
    text-transform: uppercase;
    margin: 12px 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    text-rendering: optimizelegibility;
}

#jlexcomment .login-buttons button {
    background: #52be7f;
    border: none;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin: 0 2px 0 0;
    padding: 0;
    font-weight: normal;
}

#jlexcomment .login-buttons.oauth-off button {
    width: auto;
    padding: 0 35px;
}

#jlexcomment .login-buttons .auth-facebook button {background:#3b5998;}
#jlexcomment .login-buttons .auth-twitter button {background:#3a92c8;}
#jlexcomment .login-buttons .auth-google button {background:#d95032;}
#jlexcomment .login-buttons .auth-vk button {background:#4a75a8;}

#jlexcomment .login-buttons [class^="jcm-icon-"]:before, [class*=" jcm-icon-"]:before {
    line-height: inherit;
}

#jlexcomment .jcm-connect {
    margin-right: 40px;
}

#jlexcomment .nosocl .jcm-connect,
#jlexcomment .nosocl .jcm-connect+._postAsGuest h6 {
    display: none;
}

#jlexcomment ._postAsGuest input {
    display: inline;
    width: 220px;
}

#jlexcomment .jcm-mention {
    color: #1e88e5;
    font-weight: bold;
}

/* comment form: edit state */
#jlexcomment .jcm-comment-edit .hovercard {
    display: none;
}

#jlexcomment .jcm-comment-edit .jcm-form {
    margin-left: 0;
}

/* end comment form */

/* people in conversation */
#jlexcomment .jcm-thumb-small {
    height: 32px;
    width: 32px;
    border-radius: 3px;
}

/* body of comment */
#jcm-comments {
    margin-top: 30px;
}

#jlexcomment .jcm-unpublish-msg { 
    display: none;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}
#jlexcomment .jcm-unpublished > .jcm-unpublish-msg { display: block; }

#jlexcomment .jcm-featured > .jcm-post-content > .jcm-flex-content {
    border-right: 4px solid #1e88e5;
    padding: 10px 5px;
    border-radius: 4px;
    background: #f5f5f5;
}

#jlexcomment .hovercard+.jcm-post-content { margin-left: 60px; }
#jlexcomment .jcm-childs .jcm-post-content {
    margin-left: 45px;
    /*position: relative;
    z-index: 1;*/
}

#jlexcomment .jcm-post-header {
    position: relative;
    padding-bottom: 5px;
}

#jlexcomment .jcm-post-header .jcm-q-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

#jlexcomment .jcm-post-header .jcm-q-menu li {
    margin: 0;
}

#jlexcomment .jcm-post-header .jcm-q-menu a {
    color: #9a9a9a;
}

#jlexcomment .jcm-post-header .jcm-q-menu a:hover {
    text-decoration: none;
    color: #555;
}

#jlexcomment .jcm-report {
    padding-left: 15px;
    margin-left: 5px;
    border-left: 1px solid #ccc;
    line-height: 1;
}

#jlexcomment .jcm-task-collapse,
#jlexcomment .jcm-task-expand {
    display: none;
}

#jlexcomment .jcm-block.jcm-collapse > .jcm-post-content > .jcm-list-reply {
    display: none;
}

#jlexcomment .jcm-flex-content:hover .jcm-post-header > .jcm-q-menu {
    display: block;
}

#jlexcomment .jcm-block.jcm-collapse > .jcm-post-content > .jcm-flex-content .jcm-task-expand {
    display: inline-block !important;
}

#jlexcomment .jcm-block.jcm-expand > .jcm-post-content > .jcm-flex-content .jcm-task-collapse {
    display: inline-block !important;
}

#jlexcomment .jcm-author a,
#jlexcomment .jcm-author>span {
    font-weight: bold;
    line-height: 1;
}

#jlexcomment .jcm-bullet {
    font-weight: bold;
    font-size: 25px;
    height: 18px;
    color: rgb(194, 198, 204);
    display: inline-block;
    line-height: 13px;
    vertical-align: bottom;
    margin: 0 8px;
}

#jlexcomment .jcm-date {
    color: #666;
}

#jlexcomment .jcm-roles {
    display: inline-block;
    margin-left:3px;
}
#jlexcomment .jcm-roles li {
    border-radius: 2px;
    padding: 0 5px;
    font-size: 80%;
    color: #fff;
    height: 16px;
    line-height: 16px;
    cursor: default;
}
#jlexcomment .jcm-roles li+li {
    margin-left: 3px;
}

#jlexcomment .jcm-flex-content {
    position: relative;
}

#jlexcomment a.jcm-i3 {
    display: block;
    position: relative;
    z-index: 1;
    text-align: center;
    max-width: 500px;
    margin: 10px auto 0 auto;
}

#jlexcomment a.jcm-i3::before {
    content: "";
    height: 1px;
    width: 100%;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 0;
}

#jlexcomment a.jcm-i3 span {
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 1px 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    color: #555;
    display: inline-block;
    font-size: 12px;
}

#jlexcomment a.jcm-i3:hover {
    text-decoration: none;
}

#jlexcomment .jcm-post-body {
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    overflow: hidden;
}

#jlexcomment .jcm-post-body._styled {
    padding: 10px;
    border-radius: 4px;
}

#jlexcomment .jcm-post-body .jcm_sticker img {
    padding: 10px 0;
}

#jlexcomment .jcm-bad-word {
    opacity: 0.5;
}

#jlexcomment .jcm-post-footer {
    padding-top: 5px;
}

#jlexcomment ul.jcm-task-list > li+li {
    margin-left: 10px !important;
}

#jlexcomment ul.jcm-task-list a {
    color: rgb(127, 145, 158);
    font-size: 12px;
}

#jlexcomment .jcm-vote-down {
    margin-left: 3px;
    padding-left: 5px;
    border-left: 2px solid #e7e9ee;
}

#jlexcomment .count-0 .jcm-count {
    display: none;
}

#jlexcomment .jcm-reply-form {
    padding: 10px 0;
}

/* images & media */
#jlexcomment ul.jcm-images-slideshow,
#jlexcomment .jcm-files-attached {
    padding-top: 10px !important;
}

#jlexcomment ul.jcm-images-slideshow li {
    display: inline-block;
    vertical-align: top;
    max-width: 120px;
    margin: 0 10px 10px 0;
}

ul.jcm-images-slideshow .t {
    display: block;
    background-color: #ddd;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    border-radius: 5px;
}

#jlexcomment .jcm-files-attached ._caption {
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 14px;
}

#jlexcomment .jcm-files-attached li {
    background: #f3f5f7;
    padding: 5px 7px;
    margin: 0 5px 5px 0;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
}

#jlexcomment .jcm-files-attached a._title {
    font-weight: bold;
    color: #333;
}

#jlexcomment .jcm-files-attached a._detail {
    float: right;
    margin-left: 5px;
    font-size: 10px;
}

#jlexcomment .jcm-files-attached p._desc {
    font-size: 11px;
    color: #444;
    padding: 4px 0 0 0;
    margin: 0;
    display: none;
}

#jlexcomment .jcm-files-attached ._on+p._desc {
    display: block;
}

/* pagination */
#jlexcomment a._page_previous,
#jlexcomment a._page_next {
    display: block;
    padding: 7px 10px;
    background: #f1f1f1;
    font-weight: bold;
    border-radius: 4px;
    margin: 10px 0 25px 0;
}

#jlexcomment a._page_previous {
    margin: 25px 0 10px 0 !important;
}

#jlexcomment ul.jcm-root-page {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    border-top: 1px solid #f1e1e1;
    margin-top: 10px;
}

#jlexcomment ul.jcm-root-page li {
    line-height: 25px;
}

#jlexcomment ul.jcm-root-page .first a,
#jlexcomment ul.jcm-root-page .last a {
    color: #434343;
}

#jlexcomment ul.jcm-root-page li.a-disabled {
    color: #888;
    cursor: not-allowed;
}

#jlexcomment .page-button a {
    background-color: #f2f2f2;
    /*background-image: -moz-linear-gradient(center top , #f2f2f2, #ddd);
    background-image: linear-gradient(center top , #f2f2f2, #ddd);
    background-image: -webkit-linear-gradient(center top , #f2f2f2, #ddd);*/
    border-color: #ccc #bbb #999;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.9) inset;
    color: #555;
    font-size: 12px;
    height: 25px;
    margin: 0;
    padding: 0 13px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    display: inline-block;
}

#jlexcomment .page-button a:hover {
    text-decoration: none;
}

#jlexcomment .page-button.a-selected a {
    background: none repeat scroll 0 0 #ccc;
    border-color: #bbb #aaa #777;
    box-shadow: none;
    color: #333;
}

#jlexcomment .page-button.a-disabled a {
    background: #eee;
    box-shadow: none;
    color: #888;
}

/* refresh */
#jlexcomment .jcm-refresh {
    margin: 20px 0 0 0;
    background: #ffeaa7;
    border: 1px solid #d9c483;
    border-radius: 2px;
    padding: 4px 10px;
    display: none;
    color: #675918;
}

#jlexcomment .jcm-refresh-sub {font-weight: bold;font-size: 110%;}

#jlexcomment .jcm-refresh.active {display: block; }

#jlexcomment .jcm-refresh ._sw0 {display: none;}
#jlexcomment .jcm-refresh ._sw1 {display: block;}
#jlexcomment .jcm-refresh._loading ._sw0 {display: block;}
#jlexcomment .jcm-refresh._loading ._sw1 {display: none;}

/* media */
#jlexcomment ._media_box {
    border-top: 1px solid #e1e1e1;
}

#jlexcomment ._media_box button {
    height: 24px !important;
    line-height: 24px !important;
    margin-right: 5px;
    font-size: 90%;
    vertical-align: top;
}

#jlexcomment .jcm-media-preview {
    background: #f5f5f5;
    padding: 7px;
}

#jlexcomment .jcm-media-preview:nth-child(2n) {
    background: #fdfdfd;
}

#jlexcomment .jcm-media-preview .jcm-ext {
    width: 50px;
    float: left;
    height: 24px;
    margin-right: 5px;
    background: green;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 3px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    font-weight: bold;
    text-transform: uppercase;
}

#jlexcomment .jcm-media-preview ._caption {
    font-weight: bold;
    margin-right: 5px;
    word-break: break-word;
}

#jlexcomment .jcm-media-preview ._desc {
    display: block;
    font-size: 11px;
    color: #555;
    border-left: 2px solid #ccc;
    padding-left: 5px;
}

#jlexcomment .jcm-media-preview ._size {
    color: #777;
    font-size: 11px;
    margin-right: 7px;
    font-weight: bold;
}

#jlexcomment .jcm-media-preview .jcm-info {
    margin-left: 55px;
    position: relative;
    padding-right: 20px;
}

#jlexcomment .jcm-media-preview ._task {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

#jlexcomment .jcm-media-preview ._process_box {
    width: 150px;
    height: 7px;
    border-radius: 5px;
    background: #ccc;
    display: inline-block;
    overflow: hidden;
    margin-right: 10px;
}

#jlexcomment .jcm-media-preview ._process_bar {
    background: #fe0085;
    width: 0;
    height: 100%;
    border-radius: 5px;
}

#jlexcomment .jcm-media-preview label {
    font-weight: bold;
    font-size: 11px;
    color: #555;
    margin: 10px 0 3px 0;
    display: block;
}

#jlexcomment .jcm-media-preview ._form_edit,
#jlexcomment .jcm-media-preview ._error,
#jlexcomment .jcm-media-preview ._remove,
#jlexcomment .jcm-media-preview ._cancel,
#jlexcomment .jcm-media-preview ._edit,
#jlexcomment .jcm-media-preview ._process_cont {
    display: none;
}

/* media: error */
#jlexcomment .jcm-media-preview._rlt_error ._error {
    display: block;
    color: red;
}

/* media: complete */
#jlexcomment .jcm-media-preview._rlt_completed ._edit,
#jlexcomment .jcm-media-preview._rlt_completed ._remove {
    display: inline;
}

/* media: process */
#jlexcomment .jcm-media-preview._rlt_process ._process_cont,
#jlexcomment .jcm-media-preview._rlt_process ._cancel {
    display: block;
}

/* media: editing */
#jlexcomment .jcm-media-preview._rlt_editing ._form_edit {
    display: block;
}

/* sticker image */
#jlexcomment .jcm-sticker-preview {
    position: relative;
    border-top: 1px solid #ddd;
    padding: 5px;
}

#jlexcomment .jcm-sticker-preview ._img_box {
    float: left;
    position: relative;
}

#jlexcomment .jcm-sticker-preview ._stir_loading {
    position: absolute;
    background: rgba(255,255,255,0.75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#jlexcomment .jcm-sticker-preview ._process_bar {
    position: absolute;
    height: 7px;
    width: 80%;
    top: 0;
    left: 10%;
    background: #fff;
    margin: auto auto;
    bottom: 0;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

#jlexcomment .jcm-sticker-preview ._process_result {
    height: 100%;
    background: #0088cc;
    width: 0;
    border-radius: 10px;
    position: relative;
}

#jlexcomment .jcm-sticker-preview img {
    max-width: 200px;
}

#jlexcomment .jcm-sticker-preview ._remove {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}

#jlexcomment .jcm-sticker-preview ._moved {
    position: absolute;
    font-size: 10px;
    bottom: 6px;
    right: -18px;
    font-weight: bold;
    color: #000;
}

/* dialog box */
.disableScroll {
    overflow: hidden !important;
}

.jcm-overlay {
    position: fixed;
    z-index:9999;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.jcm-dialog * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.jcm-dialog {
    background: #fff;
    position: fixed;
    z-index: 100;
}

.jcm-dialog label {
    font-weight: bold;
    color: #444;
    display: block;
    padding: 0 0 2px 0;
    margin: 0;
}

.jcm-dialog ul.jcm-inline {
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcm-dialog ul.jcm-inline li {
    display: inline-block;
}

.jcm-dialog ul.jcm-inline li+li {
    margin-left: 10px;
}

.jcm-dialog .jcm-dg-bullet {
    color: #777;
    font-weight: bold;
    font-size: 16px;
    margin: 0 7px;
}

.jcm-dialog a {
    cursor: pointer;
}

.jcm-dialog button,
#jlexcomment .jcm-button {
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    line-height: 22px;
    background-color: #f6f7f9;
    color: #4b4f56;
    border: 1px solid #ced0d4;
    border-radius: 2px;
    font-weight: bold;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}

.jcm-dialog .jcm-dg-submit,
#jlexcomment .jcm-button-hl {
    background: #218ef3;
    color: #fff;
    border-color: #218ef3;
}

.jcm-dialog button + button {
    margin-left: 7px;
}

.jcm-dialog.wide {
    border-radius: 3px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    top: 30px;
    overflow: hidden;
}

.jcm-dialog.touch {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.jcm-dialog.touch .jcm-dg-content {
    position: absolute;
    top: 35px;
    left: 0;
    bottom: 35px;
    width: 100%;
    z-index: 1;
    max-height: none;
}

.jcm-dialog .jcm-dg-caption {
    padding: 0 10px;
    background: #f6f7f9;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    color: #1d2129;
    font-size: 14px;
}

.jcm-dialog .jcm-dg-error {
    background: #cc181e;
    color: #fff;
    padding: 4px 10px;
    font-size: 12px;
    display: none;
}

.jcm-dialog .jcm-dg-error.active {
    display: block;
}

.jcm-dialog .jcm-dg-content {
    background: #fff;
    min-height: 100px;
    padding: 10px;
    font-size: 13px;
    line-height: 1.8;
    position: relative;
    max-height: 400px;
    overflow: auto;
}

.jcm-dialog .jcm-dg-overlay {
    background: url(../images/loading_s2.gif) center center no-repeat rgba(255,255,255,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.jcm-dialog .jcm-dg-footer {
    background: #fff;
    border-top: 1px solid #dddfe2;
    text-align: right;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
}

.jcm-dialog.touch .jcm-dg-footer {
    position: absolute;
    bottom: 0;
    left : 0;
    right: 0;
}

/* sharing box */
.jcm-dialog a.jcm-share-item {
    display: inline-block;
    width: 50px;
    background: #888;
    height: 24px;
    line-height: 24px;
    color: #fff;
    border-radius: 2px;
    font-size: 14px;
}

.jcm-dialog a.jcm-share-item:hover {
    text-decoration: none;
}

.jcm-dialog a.jcm-share-item.jcm-share-fb:hover {
    background: #45619d;
}

.jcm-dialog a.jcm-share-item.jcm-share-tw:hover {
    background: #55acee;
}

.jcm-dialog a.jcm-share-item.jcm-share-gg:hover {
    background: #dd4b38;
}

.jcm-dialog a.jcm-share-item i::before {
    line-height: inherit !important;
}

/* user comments */
.jcm-dg-comments .uc-author {
    font-weight: bold;
}

.jcm-dg-comments .uc-date {
    color: #888;
    margin-left: 10px;
}

.jcm-dg-comments .uc-item {
    padding: 10px 0;
}
.jcm-dg-comments .uc-item+.uc-item {
    border-top: 1px solid #eee;
}
.jcm-dg-comments p.uc-comment {
    word-wrap: break-word;
    font-size: 12px;
    color: #444;
}

.jcm-dg-comments .uc-thumb {
    width: 100px;
    height: 100px;
    float: left;
}

.jcm-dg-comments .uc-thumb img {
    border-radius: 4px;
}

.jcm-dg-comments .uc-info {
    margin-left: 110px;
}

.jcm-dg-comments .uc-info h4 {
    font-size: 20px;
    margin: 0;
    padding: 5px 0;
}

.jcm-dg-comments .uc-info h6 {
    font-size: 14px;
    margin: 0;
    padding-top: 5px;
}

.jcm-dg-comments .load_more_cm {
    display: none !important;
}

.jcm-dg-comments .load_more_cm.active {
    display: block !important;
}

/* user thumbnail */
.jcm-dg-thumb label.thumb-remove,
.jcm-dg-thumb .thumb-current {
    display: none;
}

.jcm-dg-thumb.exists .thumb-remove,
.jcm-dg-thumb.exists .thumb-current {
    display: block;
}

.jcm-dg-thumb .thumb-current {
    float: left;
    width: 100px;
    height: 100px;
}

.jcm-dg-thumb .thumb-current img {
    border-radius: 4px;
}

.jcm-dg-thumb.exists .thumb-row {
    margin-left: 110px;
}

.jcm-dg-thumb label.thumb-remove {
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    background: #f5f5f5;
    padding: 0 10px;
    margin: 0 0 10px 0;
    border-radius: 3px;
}

.jcm-dg-thumb label.thumb-remove input {
    margin: 0 7px 0 0;
}

.jcm-dg-thumb a.upload-thumb,
.jcm-dg-comments .load_more_cm {
    display: block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: #218ef3;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}

.jcm-dg-thumb .thumb-box {
    margin-top: 15px;
}

/* notifications */
.jcm-dg-full {
    margin: -10px -10px -11px -10px;
    padding: 0;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #ddd;
    min-height: 101px;
}

a.nof-see-all,
a.nof-mark-all {
    font-weight: bold;
    font-size: 11px;
    padding: 6px 10px;
    display: block;
    text-align: center;
}

a.nof-see-all {
    border-top: 1px solid #ddd;
}

a.nof-mark-all {
    border-bottom: 1px solid #ddd;
}

#jlexcomment .jcm-count-nof span {
    color: #fff;
    background: #d53827;
    font-size: 12px;
    padding: 0 4px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    border-radius: 2px;
    vertical-align: top;
    font-weight: normal;
    margin: 0 1px;
}

ul.jcm-list-notifications {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.jcm-list-notifications {
    margin: 0;
    padding: 0;
}

ul.jcm-list-notifications li+li a {
    border-top: 1px solid #e1e1e1;
}

ul.jcm-list-notifications a {
    display: block;
    padding: 5px 7px;
    background: #fff;
    color: #333;
}

ul.jcm-list-notifications li.unread a {
    background: rgba(237,239,245,.98);
}

ul.jcm-list-notifications a:hover {
    color: #222;
    text-decoration: none;
    background: #eee;
}

ul.jcm-list-notifications ._comment {
    font-size: 11px;
    display: block;
    font-style: italic;
    color: #666;
}

/* sticker */
.jcm-sticker {
    margin: -10px;
}
.jcm-sticker ._header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.jcm-sticker ._header input[type="text"] {
    display: inline-block;
    margin: 0 0 0 10px !important;
    padding: 0 10px;
    border-width: 1px;
    border-radius: 0;
    height: 25px;
    width: 150px;
    vertical-align: middle;
    font-size: 11px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05) inset;
}

.jcm-sticker ._content {
    padding: 10px;
}

.jcm-sticker ul._list-stickers {
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcm-sticker ul._list-stickers li {
    display: inline-block;
    width: 100px;
}

.jcm-sticker ul._list-stickers a {
    display: block;
    padding: 10px;
    cursor: pointer;
}

.jcm-sticker ul._list-stickers a:hover {
    background: #e9ebee;
    border-radius: 4px;
}

.jcm-sticker ._list-stickers img {
    max-width: 100%;
    max-height: 100%;
}

.jcm-sticker .jcm-sticker-group,
.jcm-sticker ul.jcm-sticker-gp-hl {
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcm-sticker ul.jcm-sticker-gp-hl {
    display: inline-block;
}
.jcm-sticker ul.jcm-sticker-gp-hl li {display: inline-block;}

.jcm-sticker .jcm-sticker-group li {
    display: inline-block;
    margin-right: 10px;
}

.jcm-sticker .jcm-sticker-group a {
    background: #95c63f;
    color: #fff;
    height: 25px;
    display: block;
    padding: 0 15px;
    line-height: 25px;
    border-radius: 3px;
    font-weight: bold;
}

.jcm-sticker ul.jcm-sticker-gp-hl a {
    display: block;
    height: 35px;
    background: #fff;
    line-height: 35px;
    padding: 0 10px;
    color: #666;
}

.jcm-sticker ul.jcm-sticker-gp-hl a.jcm-sticker-active {
    background: #f1f1f1;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}

.jcm-sticker .jcm-sticker-group a:hover {
    text-decoration: none;
    background: #4d7703;
}

/* map */
.jcm-dialog .mapContent {
    min-height: 250px;
    margin: -10px -10px -11px -10px;
    border-bottom: 1px solid #ccc;
}
.jcm-dialog.touch .mapContent {
    margin: 0;
    position: absolute !important;
    height: 100%;
    width: 100%;
    top: 0;
    left : 0;
    margin: 0;
    z-index: 1;
}

.jcm-dialog .mapContent input[type="text"] {
    width: 200px;
    border: 1px solid #4285f4;
    margin: 10px 0 0 0;
    border-radius: 0;
    height: 35px;
    padding: 0 15px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2) inset;
}

.jcm-dialog .mapContent .pac-box {
    right: 10px !important;
}

.jcm-dialog .infowindow-content {display:none;}
.jcm-dialog .mapContent .infowindow-content { display: inline; }

.pac-container {z-index:9999999}

/* emoticons */
.jcm-dialog ul._emoj-list {
    margin: 0;
    padding: 0;
    list-style: none;
}


.jcm-dialog ul._emoj-list li {
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    border: 1px solid #fff;
    margin: 0 3px 3px 0;
    transition: all 0.3s;
}

.jcm-dialog ul._emoj-list li:hover {
    border-color: transparent;
    transform: scale(1.5);
}

.jcm-dialog ul._emoj-list li.active {
    border-color: #218ef3;
}


/* mention */
#jcm-mention {
    background: red;
    height: 20px;
    width: 20px;
    z-index: 1000;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#jlexcomment .jcm-map {
    font-size: 90%;
    color: #bbb;
    padding: 5px 0;
}

#jlexcomment .jcm-map-status {
    display: none;
    float: left;
    margin-left: 60px;
    padding-top: 5px;
}

#jlexcomment.jcm-xsmall .jcm-map-status,
#jlexcomment .jcm-comment-edit .jcm-map-status {
    margin-left: 0;
}

#jlexcomment a.jcm-empty-geo {
    color: red;
    margin-left: 5px;
    border-left: 1px solid #ccc;
    padding-left: 5px;
}

#jlexcomment .jcm-map-status.active {
    display: block;
}


/* for device has small screen */
#jlexcomment.jcm-xsmall .hovercard {
    height: 32px;
    width: 32px;
    margin: 0 5px 0 0;
    position: relative;
    z-index: 1;
}

#jlexcomment.jcm-xsmall .jcm-featured .hovercard {
    position: relative;
    z-index: 3;
    margin: 5px;
}

#jlexcomment.jcm-xsmall .hovercard+.jcm-post-content {
    margin-left: 0;
}

#jlexcomment.jcm-xsmall .jcm-post-header {
    height: 36px;
    line-height: 32px;
    overflow: hidden;
}

#jlexcomment.jcm-xsmall .jcm-roles li {
    vertical-align: middle;
}

#jlexcomment.jcm-xsmall .jcm-date::before {
    content: "-";
    margin: 0 5px;
}

#jlexcomment.jcm-xsmall .jcm-post-header .jcm-q-menu {
    top: 7px;
}

#jlexcomment.jcm-xsmall ul.jcm-childs {
    border-left: 3px solid #dfdfdf;
    padding-left: 7px;
}

#jlexcomment.jcm-xsmall .jcm-post-header .jcm-bullet {
    display: none;
}

#jlexcomment.jcm-xsmall .jcm_form_input .hovercard {
    display: none;
}

#jlexcomment.jcm-xsmall .hovercard+.jcm-form,
#jlexcomment.jcm-xsmall .forGuest
 {
    margin-left: 0;
}

#jlexcomment.jcm-xsmall ._controller[data-tool="5"] .jcm-btn-open,
.jcm-form-xs ._controller[data-tool="5"] .jcm-btn-open {width:20%; margin-bottom:5px;}

#jlexcomment.jcm-xsmall ._controller[data-tool="4"] .jcm-btn-open,
.jcm-form-xs ._controller[data-tool="4"] .jcm-btn-open {width:25%;margin-bottom:5px;}

#jlexcomment.jcm-xsmall ._controller[data-tool="6"] .jcm-btn-open,
.jcm-form-xs ._controller[data-tool="6"] .jcm-btn-open {width:16.667%;margin-bottom:5px;}

#jlexcomment.jcm-xsmall button.jcm-btn-post.forMember,
.jcm-xsmall .jcm-btn-cancel,
.jcm-form-xs button.jcm-btn-post.forMember,
.jcm-form-xs .jcm-btn-cancel {
    position: static;
    width: 98%;
    margin: 0 auto 5px auto!important;
    display: block;
    clear: both;
    text-align: center;
}

#jlexcomment.jcm-xsmall ._controller,
#jlexcomment .jcm-form-xs ._controller {
    height:auto;
    padding-bottom: 5px;
    min-height: 41px;
}

#jlexcomment.jcm-xsmall ._controller._member>*:last-child,
.jcm-form-xs ._controller._member>*:last-child {
    margin-bottom: 0!important;
}

/* some effect */
#jlexcomment .jcm-block {
    position: relative;
    animation: jcmpulse 0.7s linear;
    -o-animation: jcmpulse 0.7s linear;
    -moz-animation: jcmpulse 0.7s linear;
    -webkit-animation: jcmpulse 0.7s linear;
}

.jcm-dialog {
    animation: jcmzoom 0.3s ease;
    -o-animation: jcmzoom 0.3s ease;
    -moz-animation: jcmzoom 0.3s ease;
    -webkit-animation: jcmzoom 0.3s ease;
}

@keyframes jcmpulse {
    0% {top: 40px;opacity: 0;}
    100% {top:0;opacity:1;}
}
@-o-keyframes jcmpulse {
    0% {top: 40px;opacity: 0;}
    100% {top:0;opacity:1;}
}
@-moz-keyframes jcmpulse {
    0% {top: 40px;opacity: 0;}
    100% {top:0;opacity:1;}
}
@-webkit-keyframes jcmpulse {
    0% {top: 40px;opacity: 0;}
    100% {top:0;opacity:1;}
}

@keyframes jcmzoom {
    0% {transform: scale(0);opacity: 0;}
    100% {transform: scale(1);opacity: 1;}
}
@-o-keyframes jcmzoom {
    0% {transform: scale(0);opacity: 0;}
    100% {transform: scale(1);opacity: 1;}
}
@-moz-keyframes jcmzoom {
    0% {transform: scale(0);opacity: 0;}
    100% {transform: scale(1);opacity: 1;}
}
@-webkit-keyframes jcmzoom {
    0% {transform: scale(0);opacity: 0;}
    100% {transform: scale(1);opacity: 1;}
}

/* v1.2.0 */
.jcm_sticker {max-width: 300px;}
.jcm-post-body iframe {max-width: 100%;}

/* v1.3.3 */
#jlexcomment li.jcm-voting {
    position: relative;
}

#jlexcomment .react-box {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    position: absolute;
    top: -40px;
    left: -10px;
    width: 124px;
    padding: 3px;
    opacity:0;
    z-index: -9999;
}

#jlexcomment a._react {
    padding-top:20px;
}

#jlexcomment ._tbox:hover .react-box {opacity:1;z-index:1}

#jlexcomment .reaction-btn {
    position: relative;
    float: left;
    cursor: pointer;
    transform: scale(0.1) translateY(40px);
    transition: all 0.3s;
    opacity: 0;
}

#jlexcomment ._tbox:hover .reaction-btn {
    transform: scale(1) translateY(0);
    opacity: 1;
}

#jlexcomment ._tbox:hover .reaction-btn:hover,
#jlexcomment ._tbox:hover .reaction-btn.active {
    transition: all 0.15s ease-in;
    transform: scale(1.3) translateY(-4px);
}

#jlexcomment .reaction-btn:hover ._label,
#jlexcomment .reaction-btn.active ._label {
    opacity: 1;
}

#jlexcomment .reaction-btn+.reaction-btn {
    margin-left:10px;
}

#jlexcomment .react-box ._act img {
    max-height: 32px;
    /*transform: scale(0.8);*/
    width:32px;
    height:32px;
}

#jlexcomment .react-box ._label {
    position: absolute;
    top: -24px;
    background: rgba(0,0,0,0.65);
    color: #fff;
    font-weight: bold;
    padding: 0 5px;
    border-radius: 6px;
    font-size: 9px;
    opacity: 0;
    transition: opacity 50ms ease;
}

#jlexcomment .react-stic {
    display: inline-block;
    padding: 0 5px 0 3px;
    vertical-align: top;
    top: 2px;
    position: relative;
}

#jlexcomment .react-set {
    height: 16px;
    display: inline-block;
    width: 16px;
    position: relative;
}

#jlexcomment .react-count {display: none;}

#jlexcomment .react-total {
    margin-left: 2px;
    font-size: 0.8em;
    color: #777;
    vertical-align: top;
}

/* mention */
.tribute-container li span._uname {
    font-weight: normal;
    font-style: italic;
    margin-left: 4px;
}
.tribute-container li img {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin-right: 7px;
}


/* style */
.jcm-dialog .jcm-style-item {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 3px;
    padding: 20px 10px;
    cursor: pointer;
    background-color: #d1d1d1;
    opacity: 0.7;
}

.jcm-dialog .jcm-style-item.active,
.jcm-dialog .jcm-style-item:hover {
    opacity: 1;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.jcm-dialog .jcm-style-item+.jcm-style-item {margin-top: 10px;}

/* player */
#jlexcomment .jcm-player {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    max-width: 480px;
    margin-top: 10px;
}

#jlexcomment .jcm-player .jcm-player-title {
    display: block;
    color: #333;
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    padding: 5px 7px;
}

#jlexcomment .jcm-player-main {
    min-height: 80px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    position: relative;
}

#jlexcomment .jcm-player-main::after {
    content: "";
    background-color: rgba(0,0,0,0.3);
    background-image: url(../images/play-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#jlexcomment .jcm-player-main:hover::after {
    background-color: rgba(0,0,0,0.65);
}

#jlexcomment .jcm-player-main.active::after {display:none;}

#jlexcomment .jcm-player-main iframe {
    border: none;
    width: 100%;
    height: 100%;
}

/* 1.3.7 */
#jlexcomment .jcm-subdiv {
    display: none;
    float: left;
    margin-left: 60px;
    padding-top: 5px;
}

#jlexcomment .active .jcm-subdiv {display:block;}
#jlexcomment .jcm-comment-edit .jcm-subdiv {margin-left:0!important;}

#jlexcomment.jcm-xsmall .jcm-subdiv {
    margin-left:0;
}

#jlexcomment .jcm-reply-form .jcm-subdiv {
    margin-left: 45px;
}

#jlexcomment .jcm-subdiv span {font-weight:500;}
#jlexcomment .jcm-subdiv.err span {color:#cd3b28;}
#jlexcomment input.__fm+i {margin-right:3px; vertical-align:middle;}
#jlexcomment input.__fm+i {color:#bf3724;}
#jlexcomment input.__fm:checked+i {color:#50ae54;}

#jlexcomment .react-set .__extra {
    position: relative;
    white-space: nowrap;
    background: rgba(0,0,0,0.9);
    color: #fff;
    font-size: 10px;
    padding: 2px 7px;
    position: absolute;
    bottom: 20px;
}

.jcm-rule-box {
    background: #ebeef0;
    color: #6d7981;
    padding: 5px;
    border: 1px solid #c5d2d9;
}

/* v1.6.2 */
.jcm-text-fm {
    position: relative;
}

.jcm-text-fm .ls {
    display: none;
    background: #fff;
    position: absolute;
    padding: 5px;
    bottom: -10px;
    left: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 2;
}

.jcm-text-fm:hover .ls{display:block;}

#jlexcomment .jcm-text-fm .ls button {
    background: none;
    display: inline;
    color: #333;
    margin: 0;
    text-align: center;
    padding: 4px 15px;
    border-radius: 3px;
    font-weight: normal;
    font-size: 1.2em;
}

#jlexcomment .jcm-text-fm .ls button[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
}

#jlexcomment .jcm-text-fm .ls button:hover {
    background: #1e88e5;
    color:#fff;
}

#jlexcomment .ls button.active {
    color: #2a2e2e;
    background: #f1f1f1;
}


#jlexcomment div[data-tag=code] {
    background: #eff0f1;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: normal;
    color: rgba(0,0,0,0.7);
    font-family: Inconsolata, Consola, Monaco, Courier, monospace;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 6px;
}

#jlexcomment div[data-tag=quote] {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: normal;
    padding: 15px;
    margin: 10px 0;
    border-left: 3px solid #ccc;
    background: rgba(0,0,0,0.01);
    font-size: 0.95em;
}

/* giphy */
.jcm-dialog .gif-input input[type="text"] {
    background: #fff!important;
    border: none;
    border-radius: 0;
    padding: 0 15px;
    font-size: 1.1em;
    height: 40px;
    line-height: 40px;
}

.giphy-item {
    position: relative;
}

.jcm-dialog .giphy-item {
    background: rgba(0,0,0,0.2);
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    vertical-align: bottom;
    width: 135px;
    cursor: pointer;
}

.jcm-dialog .giphy-item:hover {
    background: rgba(0,0,0,0.75);
}

.gif-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.jcm-sticker-preview .giphy-item {
    max-width: 400px;
    border-radius: 5px;
}

#jlexcomment .jcm-post-body .giphy-item {
    max-width: 250px;
    border-radius: 7px;
    overflow: hidden;
    margin-top: 5px;
}

#jlexcomment button.jcm-btn-gif .in {
    border: 2px dashed;
    padding: 2px 3px;
    font-size: 0.8em;
    border-radius: 5px;
}

#jcm-emoji {position: absolute; display: none; z-index: 10000;}
#jcm-emoji.active {display: block;}
#jlexcomment img.emoji {
    display: inline;
    width: 20px;
    height: auto;
    margin: 0 3px;
}

#jcm-emoji .EmojiPanel {
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    overflow: hidden;
}

#jcm-emoji input.EmojiPanel__queryInput+div {
    display: none;
}

#jcm-emoji a.EmojiPanel__brand {
    display: none;
}

/* 2.2.5 */
#jlexcomment ul.jcm-q-menu>li:first-child .jcm-report {
    margin: 0!important;
    padding: 0!important;
    border: none!important;
}

/* 2.4.6 */
#jlexcomment.jcm-xsmall .jcm-block.editing>.hovercard {
    display: none;
}

/* 2.7.4 */
.jcm-dialog button.jup {
    background: #218ef3;
    color: #fff;
    border-color: #218ef3;
    margin: 0 auto;
    display: block;
    padding: 10px 30px;
    font-size: 1.1em;
}

.jcm-dialog.giphy {
    background: #232526;
    background: -webkit-linear-gradient(to top, #414345, #232526);
    background: linear-gradient(to top, #414345, #232526);
}

.jcm-dialog.giphy .jcm-dg-caption {
    background: rgba(0,0,0,0.5);
    color: #fff;
    border: none;
}

.jcm-dialog.giphy .jcm-dg-content {
    background: none;
}

.jcm-dialog.giphy .jcm-dg-footer {
    background: none;
    border-color: rgba(255,255,255,.2);
}

.dropHere {
    border: 2px dashed #bbb;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    color: #888;
    margin-bottom: 10px;
}

.dropHere.active {
    border-color: red;
}

.or_text {
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
    font-size: 1.1em;
}

.jcm-post-body.locked {
    color: #8c030b !important;
    border-left: 3px solid #ba2426;
    padding: 3px 3px 3px 10px;
    margin: 5px 0;
}